/*
* @file 404.css
* @brief Archivo de estilos CSS, estilos para la página de error 404
* @version 1.0
* @date 2023-12-27
* @author Jesus Antonio Lopez Bandala
*/

.error-404 {
  width: 100%;
  height: 100%;
}

.main-bottom-left {
  margin: 0;
}

.container {
  background-color: #24242462;
}