@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    margin:0;
    padding:0;
    background: #000000;
    font-family: sans-serif;
    font-family: 'Mukta', sans-serif;
}

.copyright{
    color: white;
    text-align:center;
    font-size:2vh;
}

.titulo{
    color: white;
    text-align:center;
    font-size:6vh;
}

i{
    color:white;
}

particles-js{
    width:100%;
    height:100vh;
    background: #000000;
    position:fixed;
    top:0;
    z-index: -1;
}

main{
    /*Traslada el main en el centro de la pantalla para que quede encima de particle js*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.container{
    background-color: rgb(218, 218, 218);
    width: 50%;
    align-items: center;
    justify-content: center;
    /*Centra el div*/
    margin: auto;
    /*Bordes redondeados*/
    border-radius: 10px;
    /*Separacion del borde*/
    padding: 10px;
    /*Separacion entre elementos*/
    margin-top: 20px;
    margin-bottom: 20px;
}

.redes-sociales ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.redes-sociales ul li{
    margin: 0 10px;
}

.redes-sociales ul li a{
    color: #000000;
    font-size: 2.5vh;
}

.redes-sociales ul li a i:hover{
    color: #5c5a5a;
}

.main-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-bottom-left{
    margin-right: 80px;
    text-align: center;
}

.main-bottom-left h3{
    font-size: 2.5vh;
    color: #000000;
}

.main-bottom-left p{
    font-size: 2vh;
    color: #000000;
}
.main-bottom-right{
    text-align: center;
}

.main-bottom-right h3{
    font-size: 2.5vh;
    color: #000000;
}

.main-bottom-right p{
    font-size: 2vh;
    color: #000000;
}

.main-bottom-right a,
.main-bottom-left a{
    color: #000000;
    font-size: 2.5vh;
    text-decoration:none;
    background-color: #a3a2a2;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:5px;
    padding-right:5px;
    border-radius:8px;
}

.main-bottom-right a:hover,
.main-bottom-left a:hover{
    color: white;
    background-color: #242424;
}